<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.jason.sagy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".ListService"
            android:exported="false" />

        <activity android:name=".Splash"></activity>
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".Registration" />
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".Introduction" />
        <activity android:name=".MP" />
        <activity android:name=".Village" />
        <activity android:name=".Notifications" />
        <activity android:name=".Schemes" />
        <activity android:name=".Organ" />
        <activity android:name=".another" />
        <activity android:name=".second" />
        <activity android:name=".num2" />
        <activity android:name=".num4" />
        <activity android:name=".num5" />
        <activity android:name=".num6" />
        <activity android:name=".num7" />
        <activity android:name=".num8" />
        <activity android:name=".num9" />
        <activity android:name=".num10" />
        <activity android:name=".num11" />
        <activity android:name=".num12" />
        <activity android:name=".num13" />
        <activity android:name=".num14" />
        <activity android:name=".num3" />
        <activity android:name=".thesec" />
        <activity android:name=".thethird" />
        <activity android:name=".thefourth" />
        <activity android:name=".thefifth" />
        <activity android:name=".thesixth" />
        <activity android:name=".theseventh" />
        <activity android:name=".theeighth" />
        <activity android:name=".theninth" />
        <activity android:name=".thetenth" />
        <activity android:name=".theeleventh" />
        <activity android:name=".thetwelth" />
        <activity android:name=".thethirteenth" />
        <activity android:name=".thefourteenth" />
        <activity android:name=".Grid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Gallery" />
        <activity android:name=".More" />
        <activity android:name=".anotherplus" />
        <activity android:name=".anotherplusplus" />

        <service
            android:name=".NotificationService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>

        <activity android:name=".ImageOpenActivity"></activity>
    </application>

</manifest>